@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Light.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

body {
	font: 300 16px "Roboto", Arial, Tahoma, sans-serif;
	color: #353535;
	margin: 0;
	color: #111;
}

h1,
h2,
h3,
h4,
a,
p {
	text-decoration: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
}

.menu-top {
	width: 100%;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: .4s;
	z-index: 2;
}

.default {
	display: none;
}

.menu-top:hover {
	background: rgba(0, 0, 0, 0.9);
}

.wrap-menu-top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 6px 0;
}

.menu-top__list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	list-style: none;
	margin: 0;
}

.menu-top__logo {
	display: inline;
	text-align: left;
}

.menu-top__list-item {
	margin: 0 20px;
	text-transform: uppercase;
	color: #bbb;
	transition: .3s;
}

.menu-top__list-item:hover {
	color: #fff;
}

.header__top {
	color: #fff;
	background: url(../img/backg-black.jpg);
	padding-top: 40px;
	height: 424px;
}

.text-desc {
	text-align: center;
	font-size: 48px;
	line-height: 48px;
	color: #fff;
	margin-bottom: 31px;
}

.text-title {
	font-size: 112px;
	line-height: 90px;
	text-align: right;
	color: #ffc000;
	margin-right: 115px;
}

.mid {
	max-width: 1000px;
	margin: 0 auto;
}

.header__bottom {
	background: url(../img/backg-crown.jpg);
}

.header__logo {
	margin-top: -290px;
	width: 50%;
}

.wrap-content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.header__email-sand {
	margin-top: -180px;
	margin-bottom: 20px;
}

.wrap-form-training {
	border: 3px solid rgba(255, 255, 255, 0.6);
	box-shadow: 1px 1px 3px #222;
	margin-bottom: 32px;
}

.form-training {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 40px;
	width: 414px;
	background: #ffc000;
}

.form-training__title {
	font-size: 32px;
	text-align: center;
	margin-bottom: 20px;
}

.form-training__email {
	font: 300 21px "Roboto", Arial, Tahoma, sans-serif;
	outline: none;
	font-size: 21px;
	border: 1px solid #da9a1c;
	line-height: 32px;
	margin-bottom: 16px;
	padding: 7px 0;
	text-indent: 19px;
}

.form-training__email:focus {
	border: 1px solid transparent;
	box-shadow: 0 0 10px #886600;
}

.form-training__text-prompt {
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	margin-bottom: 16px;
	color: #3d3d3d;
}

.form-training__submit {
	border: 0;
	font: 300 29px "Roboto", Arial, Tahoma, sans-serif;
	padding: 15px 0;
	text-transform: uppercase;
	background: #a80000;
	color: #fff;
	text-shadow: 1px 1px 3px #700000;
	box-shadow: 1px 1px 3px #886600;
	cursor: pointer;
}

.form-training__submit:hover {
	-webkit-animation: pulse linear .7s infinite;
	animation: pulse linear .7s infinite;
	text-shadow: 1px 1px 3px #700000;
}

.timer {
	margin-bottom: 25px;
}

.timer .timer__header {
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.timer #note,
.timer #note2,
.timer #note3,
.timer #note4 {
	text-align: center;
	font-weight: 400;
	text-transform: none;
}

.line-divide {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	background: #ffcc00;
	height: 100px;
	width: 100%;
	margin-bottom: 50px;
}

.line-divide__text-black {
	font-size: 40px;
	color: #000;
	margin: 0;
}

.content-top {
	background: url(../img/backg-gray.jpg);
}

.notice {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.notice__item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 460px;
	height: 230px;
	background: #fff;
	margin-bottom: 80px;
	border: 1px solid #bbb;
	box-sizing: border-box;
	overflow: hidden;
}

.notice__column-left {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 0 0 100px;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-right: 1px solid #bbb;
}

.circle {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background: #ffc000;
	border: 2px solid #fff;
	box-shadow: 1px 1px #bbb;
	transition: .5s;
}

.notice__item:hover .circle {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	box-shadow: -1px -1px #bbbbbb;
}

.circle__numb {
	font-size: 44px;
	font-weight: 400;
}

.notice__column-right {
	position: relative;
	width: 357px;
}

.notice__item-title {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 18px;
	padding-top: 30px;
	padding-left: 18px;
}

.notice__item-text {
	max-height: 120px;
	padding: 0 18px;
	font-size: 18px;
	text-transform: capitalize;
	color: #333;
	overflow: hidden;
}

.notice__item-img {
	position: absolute;
	top: 95%;
	left: 0;
	opacity: .9;
	transition: .5s;
	width: inherit;
	height: 100%;
}

.notice__item:hover .notice__item-img {
	top: 0;
}

.content__text-bott {
	width: 100%;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 78px;
}

.text-orang {
	color: #ff8a00;
}

.promo-block {
	background: url(../img/backg-black.jpg);
}

.wrap-promo-block {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.promo-block__columb-left {
	position: relative;
	margin-top: 38px;
}

.promo-block__logo {
	width: 388px;
}

.promo-block__columb-right {
	text-align: center;
	padding-top: 80px;
	text-transform: uppercase;
	color: #fff;
}

.promo-block__title {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 25px;
}

.promo-block__button {
	display: inline-block;
	background: #d7d7d7;
	padding: 15px 50px;
	color: #000;
	font-size: 30px;
	font-weight: 600;
	box-shadow: 1px 1px 3px #000;
	margin-bottom: 30px;
	border-radius: 4px;
	transition: .3s;
}

.promo-block__button:hover {
	background: #fec024;
}

.content-middle {
	background: url(../img/backg-crown.jpg);
}

.img-icon {
	width: 60%;
}

.notice__item-icon {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	transition: .5s;
}

.notice__item:hover .notice__item-icon {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.content-bottom {
	background: url(../img/backg-crown.jpg);
}

.buy-system {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.buy-system__step {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff;
	margin: 20px;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	border: 3px double #ddd;
	transition: .3s;
	cursor: pointer;
}

.buy-system__step:hover {
	border: 3px solid #5b5b5b;
	box-shadow: 0 0 0 4px rgba(93, 93, 93, 0.5);
}

.buy-system__icon {
	margin-bottom: 10px;
}

.buy-system__step:hover .buy-system__icon {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	transition: .5s;
}

.buy-system__text {
	width: 175px;
	text-align: center;
	text-transform: none;
	line-height: 16px;
	font-weight: 600;
}

.footer-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer__email-sand {
	margin-top: -180px;
	margin-bottom: 20px;
	margin: 0;
}

@media screen and (max-width: 1024px) {

.mid {
	margin: 0 20px;
}

.form-training {
	width: 370px;
}

.notice {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.notice__item {
	width: 350px;
	height: 170px;
	margin-left: 20px;
}

.circle {
	width: 50px;
	height: 50px;
	margin-left: 10px;
	border: 1px solid #fff;
}

.circle__numb {
	font-size: 30px;
}

.notice__item-title {
	font-size: 20px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-left: 10px;
}

.notice__item-text {
	width: 227px;
	padding: 0 10px;
	font-size: 12px;
	max-height: 98px;
}

.notice__item-img {
	width: 249px;
	height: 169px;
}

.promo-block__columb-left {
	margin-top: 28px;
}

}

@media screen and (max-width: 968px) {

.header__top {
	padding-top: 15px;
}

.text-desc {
	font-size: 38px;
	line-height: 38px;
}

.text-title {
	font-size: 80px;
	line-height: 80px;
	text-align: center;
	margin: 0;
}

.header__logo {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 75%;
	margin-top: -210px;
}

.wrap-content {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__email-sand {
	width: 75%;
	margin-top: -40px;
}

.form-training {
	width: inherit;
}

.line-divide {
	height: 70px;
}

.line-divide__text-black {
	font-size: 30px;
}

.footer__email-sand {
	width: 75%;
	margin-top: -40px;
}

}

@media screen and (max-width: 840px) {

.footer-wrap {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer__img {
	display: none;
}

}

@media screen and (max-width: 770px) {

.line-divide {
	height: 50px;
}

.line-divide__text-black {
	font-size: 24px;
}

.content__text-bott {
	font-size: 24px;
	margin-bottom: 48px;
}

.wrap-promo-block {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.promo-block__logo {
	display: none;
}

}

